.eachCustomer {
  display: flex;
  background-color: blue;
  color: white;
  border-radius: 15px;
  width: 50vw;
  gap: 20px;
  margin-bottom: 10px;
}

.nextDeliveryDate-select,
.deliveryDate-select {
  font-size: 1.2vw;
  color: #0163a2;
  font-family: "Tillana";
  font-weight: 700;
  margin: 10px 0;
  span {
    margin-right: 40px;
  }
  input {
    transform: scale(1.2);
  }
}

.tripNumber {
  margin-bottom: 10px;
}

.customersTabs {
  display: flex;
  margin-bottom: 5px;
  border-radius: 5px;
  gap: 10px;
  border: 1px solid black;
}

.customersPanel {
  margin-top: 1vh;
  display: flex;
  gap: 5vw;
  margin-bottom: 1vh;
}
.customersTripList {
  display: flex;
  div {
    flex-basis: 30%;
  }
}
