.ctas-wrapper{
    display: flex;
    justify-content: space-around;
}

    table{width: 99%;
        th{
            background-color: #0163A2;
            color: #fff;
            font-family: 'Work Sans';
            font-weight: 100;
            font-size: 1.2vw;
        }
    tr{
        &:nth-child(odd){
            background-color: #DEEEF9;
        }
        &:nth-child(even){
            background-color: #F2F8FD;
        }
        td{
            font-size: 1.2vw;
        }
    }
}