table {
  width: 99%;
  th {
    background-color: #0163a2;
    color: #fff;
    font-family: "Work Sans";
    font-weight: 100;
    font-size: 1.1vw;
    padding: 2px 0;
  }
  tr {
    &:nth-child(odd) {
      background-color: #deeef9;
    }
    &:nth-child(even) {
      background-color: #f2f8fd;
    }
    td {
      font-size: 1.2vw;
      &.finalTotal {
        background-color: #fec41b;
        text-align: left;
        color: #000;
        font-family: "Comic Neue";
        font-weight: 600;
      }
    }
    &.needAttention {
      td {
        color: red;
      }
    }
  }
}

.modal.full-customer-modal {
  z-index: 1;
  font-family: "Work Sans";
  .modal-text {
    width: 80vw;
    height: 87vh;
    padding-top: 25px;
    padding-left: 10px;
    overflow-y: scroll;
    .full-customer-details-content {
      display: flex;
      gap: 10px;
    }
  }
}

.quickaccess-parent.customer-list {
  height: 80vh;
  overflow-y: scroll;
  td {
    font-size: 1.5vw;
  }
  th.customer-id {
    width: 6vw;
  }
}

@media (max-width: 600px) {
  table {
    white-space: nowrap;
  }
  th {
    font-size: 14px !important;
  }
  td {
    font-size: 14px !important;
  }
  .quickaccess-parent.customer-list th.customer-id {
    width: 50px;
  }
}

.customerDeliveriesHistory {
  background-color: #deeef9;
  border-radius: 20px;
  padding: 10px 10px 0;
  margin-bottom: 10px;
  & > span {
    margin-bottom: 7px;
    display: inline-block;
    font-weight: bold;
    & + button {
      background: transparent;
      border: none;
      float: right;
      img {
        width: 20px;
      }
    }
  }
}

.customerDeliveriesHistory-date {
  & > div:nth-of-type(1) {
    text-decoration: underline;
    margin-bottom: 5px;
  }
  & > div:nth-of-type(2) {
    display: flex;
    padding-bottom: 10px;
  }
  .details-history {
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }
}
