table {
  width: 99%;
  th {
    background-color: #0163a2;
    color: #fff;
    font-family: "Work Sans";
    font-weight: 100;
    font-size: 1.1vw;
    padding: 2px 0;
  }
  tr {
    &:nth-child(odd) {
      background-color: #deeef9;
    }
    &:nth-child(even) {
      background-color: #f2f8fd;
    }
    td {
      font-size: 1.2vw;
      &.finalTotal {
        background-color: #fec41b;
        text-align: left;
        color: #000;
        font-family: "Comic Neue";
        font-weight: 600;
      }
    }
    &.needAttention {
      td {
        color: red;
      }
    }
  }
}

.modal.full-customer-modal {
  .modal-text {
    width: 80vw;
    height: 80vh;
    padding-top: 20px;
    padding-left: 30px;
    overflow-y: scroll;
    .full-customer-details-content {
      display: flex;
      gap: 10px;
    }
  }
}

.quickaccess-parent.customer-list {
  height: 80vh;
  overflow-y: scroll;
  td {
    font-size: 1.5vw;
  }
  th.customer-id {
    width: 6vw;
  }
}
