.modal.delivery-panel-modal {
  .modal-bg {
    height: 100vh;
  }
  .modal-text {
    width: 90vw;
    height: 60vh;
    padding-top: 10vw;

    .closeModal {
      top: 2vw;
      right: 3vw;
      transform: scale(2.5);
    }

    .values {
      margin-bottom: 2vw;
      align-items: center;
      &.address span,
      &.phoneNo span {
        font-size: 4vw;
      }
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        height: 14vw;
      }
    }

    .values span {
      font-size: 5vw;
    }
    .values span:first-of-type {
      width: unset;
      margin-right: 2vw;
    }
  }
}
.modal .inputLabel {
  font-size: 5vw;
  & + input {
    margin: 2vw 4vw;
    width: 15vw;
    height: 7vw;
    font-size: 5vw;
  }
}
.delivery-modal-buttons {
  margin: 0 auto;
  text-align: center;
  & > div {
    padding: 2vw;
    width: 30vw;
    display: inline-block;
    margin: 10vw 5vw 0;
    font-size: 6vw;
  }
}
.customersDeliveryPanelContent {
  overflow-y: scroll;
  height: 80vh;
}
.customersTripList {
  display: flex;
  gap: 1vw;
  background-color: #deeef9;
  border-radius: 5px;
  margin: 2vw;
  padding: 1vw;
  div:first-of-type {
    flex-basis: 30vw;
  }
  div:nth-of-type(2) {
    flex-basis: 10vw;
  }
  div:nth-of-type(3) {
    flex-basis: 25vw;
  }
  div:nth-of-type(4) {
    display: none;
  }
  div:nth-of-type(5) {
    flex-basis: 5vw;
  }
}

.success-bg,
.cancel-bg {
  border-radius: 5px;
  color: #fff;
}

.success-bg {
  background-color: #198752;
}
.cancel-bg {
  background-color: grey;
}
