.navigated-container {
  position: relative;
  .profileDetails {
    position: fixed;
    right: 3vw;
    top: 1%;
    h3 {
      margin: 0 0 1vh;
      font-family: "Tillana";
      font-size: 1.2vw;
    }
    .logout-container {
      display: flex;
      align-items: center;
      img {
        max-height: 1.7vw;
        margin-left: 0.8vw;
      }
      button {
        background-color: #89c8fd;
        color: #000;
        font-size: 1vw;
        padding: 5px 15px;
        border: 1px solid transparent;
        border-radius: 5px;
        font-family: "Poppins";
      }
    }
  }
  nav {
    position: fixed;
    left: 0;
    width: 14vw;
    height: 89vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    background-color: #005ea5;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    .menu-toggle-button {
      background-color: #005ea5;
      align-self: self-end;
      border: none;
      padding: 0;
      border-top-right-radius: 30px;
      img {
        max-width: 4vw;
        max-height: 4vw;
        &.show {
          transform: rotate(-180deg);
        }
        &.hide {
          transform: rotate(0deg);
        }
      }
    }
    .menu-button {
      width: 14vw;
      color: #fff;
      font-size: 1.3vw;
      border: 1px solid transparent;
      border-radius: 5px;
      font-family: "Poppins";
      &:hover {
        opacity: 0.7;
      }
      a {
        text-decoration: unset;
        color: inherit;
      }
    }

    &.hide {
      width: 4vw;
      .menu {
        display: none;
      }
    }
  }
}

/* CSS for navigation styling */

.menu {
  position: relative;
  padding-top: 3vh;
  &:first-of-type {
    padding-top: 2vh;
  }
}

.menu-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.submenu {
  display: none;
  background-color: #eef6fb;
  padding: 0.5vw;
  border-radius: 5px;
  font-family: "Work Sans";
  font-size: 1.2vw;
  text-align: center;
  & > div {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.menu:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px 0 10px;
}

.submenu a:hover {
  opacity: 0.7;
}

// common code for other components

.beNeutral {
  margin-left: 15vw;
  height: 89vh;
}
.shiftLeft {
  margin-left: 5vw;
  height: 89vh;
}
.common-heading {
  color: #0163a2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1vh;
  font-family: "Cinzel";
}
.common-heading-form {
  font-family: "Overlock";
}
.common-cta {
  background-color: #fec41b;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #000;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.4vw;
  width: 20vw;
  padding: 0.5vw 1vw;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
}
.common-cta-blue {
  background-color: #89c8fd;
  min-width: 17vw;
  height: 4vw;
  width: unset;
}
.createForm {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-color: #f2f8fd;
  .fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    width: max-content;
    margin: 0 auto;
    padding-top: 2vw;
    height: 70vh;
    .fields {
      label {
        font-family: "Comic Neue";
        margin-right: 10px;
        font-size: 1.2vw;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        width: 12vw;
        img {
          width: 1.2vw;
          margin-right: 5px;
          &.large {
            transform: scale(1.3);
          }
        }
      }
      input,
      select {
        font-size: 1.3vw;
      }
      .extraNote {
        font-size: 1vw;
        font-family: "Poppins";
        margin-bottom: 0;
        text-transform: capitalize;
        color: #198752;
      }
    }
  }
  button[type="submit"] {
    margin-top: auto;
    margin-bottom: 2vh;
  }
  &.createCustomerForm .fields-wrapper {
    height: 75vh;
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modal-bg {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.5;
  }
  .modal-text {
    position: absolute;
    background-color: #f8fff8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 26vw;
    height: 33vh;
    h3 {
      text-align: center;
      margin-bottom: 4vh;
      color: #198752;
      font-size: 1.4vw;
    }
    .values {
      padding-left: 5vw;
      padding-bottom: 1vw;
      display: flex;
      font-size: 1.2vw;
      font-family: "Poppins";
      color: #000;
      span:first-of-type {
        width: 14vw;
      }
    }
    .closeModal {
      position: absolute;
      top: 0.5vw;
      right: 1vw;
      transform: scale(2);
      cursor: pointer;
    }
    input {
      margin: 7% 15% 12%;
      font-size: 2vw;
      max-width: 70%;
      & + .submitPaymentdate,
      & + .submitDeliverydate,
      & + .submitFrequencynumber,
      & + .submitExpensedate,
      & + .submitPredictiondate {
        font-size: 1.7vw;
        min-width: unset;
        height: unset;
        margin-left: 35%;
        font-family: "Poppins";
      }
    }
    .customInputLabel,
    inputLabel {
      font-size: 1.5vw;
      color: #0163a2;
      font-family: "Tillana";
      margin-left: 15%;
      font-weight: 700;
      display: block;
    }
  }

  &.create-customer-modal {
    .modal-text {
      width: 50vw;
      height: 70vh;
    }
  }
  &.delivery-modal {
    .modal-text {
      width: 40vw;
      height: 53vh;
    }
  }
  &.payment-modal {
    .modal-text {
      width: 40vw;
      height: 40vh;
    }
  }
}
.noResults {
  font-family: "Architects Daughter";
  font-family: "Coming Soon";
  font-size: 3vw;
  display: flex;
  justify-content: center;
  span {
    width: 95%;
    height: 70vh;
    margin-top: 10vh;
    text-align: center;
    line-height: 70vh;
    background-color: #ebf7ff;
  }
}
.yesterdayButton {
  margin-left: 0.7vw;
  font-size: 1vw;
  font-family: "Poppins";
}

.success {
  color: #198752;
}
.error {
  color: #dc3545;
}

@media (max-width: 600px) {
  .navigated-container .profileDetails {
    h3 {
      font-size: 3vw;
    }
    .logout-container {
      button {
        font-size: 3vw;
      }
      img {
        max-height: 6vw;
        margin-left: 1.5vw;
      }
    }
  }
}
